.caweb-store-list-container {
  display: flex;
  margin-bottom: 20px; }
  .caweb-store-list-container .store-list-column {
    flex-basis: 300px;
    flex-shrink: 0; }
    .caweb-store-list-container .store-list-column .store-list-wrap {
      padding-right: 10px; }
      .caweb-store-list-container .store-list-column .store-list-wrap .store-wrap {
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.21);
        -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.21);
        box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.21);
        transition: background-color 0.5s, box-shadow 0.5s;
        padding: 20px 15px;
        border-radius: 5px;
        cursor: pointer; }
        .caweb-store-list-container .store-list-column .store-list-wrap .store-wrap.selected {
          background-color: #f7f7f8;
          box-shadow: none;
          cursor: default; }
        .caweb-store-list-container .store-list-column .store-list-wrap .store-wrap:hover {
          background-color: #f7f7f8;
          box-shadow: none; }
        .caweb-store-list-container .store-list-column .store-list-wrap .store-wrap .store-addr {
          color: black;
          font-size: 16px;
          margin-bottom: 10px; }
        .caweb-store-list-container .store-list-column .store-list-wrap .store-wrap .store-phone a {
          color: #d64438; }
          .caweb-store-list-container .store-list-column .store-list-wrap .store-wrap .store-phone a:hover {
            text-decoration: underline !important; }
  .caweb-store-list-container .map-column {
    flex-basis: 840px;
    flex-shrink: 1; }
    .caweb-store-list-container .map-column .map-wrap .map {
      height: 566px;
      overflow: hidden; }
      .caweb-store-list-container .map-column .map-wrap .map > ymaps {
        width: 100% !important; }
        .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps {
          width: 100% !important; }
          .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps ymaps[class$="-balloon__content"] {
            padding: 0 !important; }
          .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps .balloon-content-body {
            padding: 20px; }
            .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps .balloon-content-body .balloon-phone {
              margin-bottom: 10px; }
              .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps .balloon-content-body .balloon-phone a {
                font-size: 16px;
                color: #d64438; }
                .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps .balloon-content-body .balloon-phone a:hover {
                  text-decoration: underline !important; }
            .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps .balloon-content-body .balloon-schedule {
              color: #000;
              font-size: 14px;
              margin-bottom: 10px;
              width: 170px;
              text-wrap: balance; }
            .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps .balloon-content-body .balloon-email a {
              color: #777777;
              font-size: 14px; }
          .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps .balloon-footer-wrap {
            border-top: #77777729 solid 1px; }
            .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps .balloon-footer-wrap .balloon-link a {
              font-size: 16px;
              padding: 20px;
              color: #000;
              display: block;
              position: relative;
              transition: background-color 0.5s; }
              .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps .balloon-footer-wrap .balloon-link a:hover {
                background-color: #f7f7f8; }
              .caweb-store-list-container .map-column .map-wrap .map > ymaps > ymaps .balloon-footer-wrap .balloon-link a i {
                position: absolute;
                font-size: 25px;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                color: #777777; }

@media (max-width: 760px) {
  .caweb-store-list-container {
    flex-direction: column; }
    .caweb-store-list-container .store-list-column .store-list-wrap {
      padding-right: 0px; } }
