/* CSS kod pishite v etom faile, chotobi pri ustanovke obnovlenii ne bilo problem  */
/* --------------------------------------- */
/* Here you can put custom css rules for your site */

.banners-big .slides > li .maxwidth-theme.fulla a{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.work-steps-wrapper{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: 20px auto;
	padding: 0;
	overflow: hidden;
}

.work-steps{
	position: relative;
}

.work-steps::after{
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	background: url(/images/workarrow.png) no-repeat center center;
	background-size: 100% 100%;
	position: absolute;
	top: 25%;
	right: -18px;
	z-index: 1;
	opacity: 0.5;
}

.work-step-image-wrapper{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

.work-step-image{
	display: block;
	box-sizing: border-box;
	width: 100px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	border-radius: 100%;
}

.work-step-title{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	color: #555555;
	text-align: center;
}

.work-step-desc{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	font-size: 13px;
	color: #222222;
	text-align: center;
}

.banners-big .flexslider, .banners-big .slides,
.banners-big .flexslider, .banners-big .slides li{
	height: auto;
}

.fa-btn-calc{
	margin: 0 5px 0 0;
}

.doorhan_calc_link a img{
	width: 180px;
	height: auto;
}
.header-contacts-container{
	margin-right: 17px;
	/*margin-top: 5px;*/
	/*margin-bottom: 5px;*/
}
.header-contacts-container > div{
	white-space: nowrap;
	font-size: 14px;
	color: #000;
}
.header-contacts-container > div a{
	color: black;
	line-height: 1;
}
.header-contacts-container > div:not(:last-child){
	margin-bottom: 6px;
}
.header-contacts-container > div > i{
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	text-align: center;
	margin-right: 2px;
	color: #d64438;
}
.header-contacts-container > div > div{
	display: inline-block;
	vertical-align: middle;
}
.header-contacts-container > div.phone-number{
	margin-bottom: 4px;
}
.header-contacts-container > div.phone-number > div{
	font-weight: 600;
	font-size: 15px;
	color: #d64438;
}
.header-contacts-container > div.phone-number > div a{
	color: #d64438;
}
.top-callback{
	display: flex;
	vertical-align: center;
	align-items: center;
	flex-direction: row-reverse;
	padding-top: 10px;
	padding-bottom: 10px;
}
.top-header-theme{
	height: 95px;
}
header.fixed .logo_and_menu-row{
	height: 95px;
}
.sections-tags__item{
	padding: 0 20px;
	margin-bottom: 20px;
}
.sections-tags__item a{
	color: #d64438;
	font-size: 16px;
	font-weight: bold;
}
.catalog-items__nav{
	clear: both;
}
@media (max-width: 767px){
	.top-header-theme{
		height: 70px;
	}
	header.fixed .logo_and_menu-row{
		height: 70px;
	}
}