.custom_project_block .item-views{
    margin-bottom: 0!important;
}
.custom_project_block .item-views .top_wrapper_block{
    margin-bottom: 0!important;
}
.custom_project_block .item-views .top_wrapper_block .flex-viewport{
    padding-bottom: 0!important;
}
